@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
  --main-bg-color: #000000;
  --primary-color: #F6F6F6;
  --secondary-color: #22D4FD;
  --btn-hover-color: #272727;

  --primary-font: 'Krona One', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--primary-color);
}

.header {
  padding: 2% 20% 0%;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
}

.container {
  padding: 10% 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content__title {
  font-family: var(--primary-font);
  font-size: 2.25rem;
}

.content__emphasis {
  color: var(--secondary-color);
}

.content__text {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

.content__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.content__links__title {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.5rem;
}

.content__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: 600;
}

.content__link:hover {
  background-color: var(--btn-hover-color);
}

.content__link__image {
  width: 32px;
  height: 32px;
}

.container__image {
  width: 50%;
  border-radius: 20px;
}

.footer {
  color: var(--main-bg-color);
  background-color: var(--secondary-color);
  padding: 24px;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .header {
    padding: 10%;
  }

  .header__menu {
    justify-content: center;
  }

  .container {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .content {
    width: 100%;
  }
}